@model StartupsBack.Models.DbModels.StartupModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StartupModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartupPublished" class="control-label"></label>
                <input asp-for="StartupPublished" class="form-control" />
                <span asp-validation-for="StartupPublished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorForeignKey" class="control-label"></label>
                <select asp-for="AuthorForeignKey" class ="form-control" asp-items="ViewBag.AuthorForeignKey"></select>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartupPicFileName" class="control-label"></label>
                <input asp-for="StartupPicFileName" class="form-control" />
                <span asp-validation-for="StartupPicFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Viewers" class="control-label"></label>
                <input asp-for="Viewers" class="form-control" />
                <span asp-validation-for="Viewers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModify" class="control-label"></label>
                <input asp-for="LastModify" class="form-control" />
                <span asp-validation-for="LastModify" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
