@model StartupsBack.Models.DbModels.MessageModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MessageModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderForeignKey" class="control-label"></label>
                <select asp-for="SenderForeignKey" class="form-control" asp-items="ViewBag.SenderForeignKey"></select>
                <span asp-validation-for="SenderForeignKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipientForeignKey" class="control-label"></label>
                <select asp-for="RecipientForeignKey" class="form-control" asp-items="ViewBag.RecipientForeignKey"></select>
                <span asp-validation-for="RecipientForeignKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MessageSended" class="control-label"></label>
                <input asp-for="MessageSended" class="form-control" />
                <span asp-validation-for="MessageSended" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MessageReaded" class="control-label"></label>
                <input asp-for="MessageReaded" class="form-control" />
                <span asp-validation-for="MessageReaded" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsGetted" /> @Html.DisplayNameFor(model => model.IsGetted)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsReaded" /> @Html.DisplayNameFor(model => model.IsReaded)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
